* {
    /* background-color: rgb(36, 36, 36);
    color: rgb(240, 240, 240); */
    margin: 5px;
}

body {
    background-color: rgb(40,40,40);
}

h1 {
    color: rgb(200,200,200);
    font-size: 1.5rem;
}

.myWallet {
    margin-bottom: 10px;
    background-color: rgb(200,200,200);
    border: 2px solid gray;
    width: 220px;
}

#logWindow {
    margin-top: 5px;
    margin: auto;
    height: 300px;
}

#logWindow textarea {
    color: rgb(200,200,200);
    background-color: rgb(50,50,50);
}

.vendingMachine {
    /* margin: 0 auto; */
    background-color: rgb(200,200,200);
    border: 2px solid rgb(200,150,150);
    width: 220px;
}

table,
td {
    margin: 5px auto;
    text-align: center;
    border: 1px solid rgb(141, 141, 141);
}

thead,
tfoot {
    background-color: rgb(255, 72, 0);
    color: #fff;
}

.goods .images td {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    width: 60px;
    height: 70px;
}

.goods td {
    border: 2px solid rgb(251, 116, 139);
}

.goods .prices td {
    font-size: 0.9rem;
    height: 10px;
}

.goods input[type="button"] {
    font-weight:bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
}

.prices input,
.status input {
    text-align: center;
}

.status td {
    border: 2px solid rgb(119, 172, 14);
}

#rep01,
#rep02,
#rep03 {
    width: 50px;
    text-align: center;
}
