* {
    /* background-color: rgb(36, 36, 36);
    color: rgb(240, 240, 240); */
    margin: 5px;
}

h1 {
    font-size: 1.5rem;
}

.myWallet {
    margin-bottom: 10px;
    border: 2px solid gray;
    width: 220px;
}

#logWindow {
    margin-top: 5px;
    margin: auto;
    height: 300px;
}

.vendingMachine {
    /* margin: 0 auto; */
    border: 2px solid gray;
    width: 220px;
}

table,
td {
    margin: 5px auto;
    text-align: center;
    border: 1px solid rgb(141, 141, 141);
}

thead,
tfoot {
    background-color: rgb(255, 72, 0);
    color: #fff;
}

.goods .images td {
    width: 60px;
    height: 70px;
}

.goods td {
    border: 2px solid pink;
}

.goods .prices td {
    font-size: 0.9rem;
    height: 10px;
}

.prices input,
.status input {
    text-align: center;
}

.status td {
    border: 2px solid yellowgreen;
}

#rep01,
#rep02,
#rep03 {
    width: 50px;
    text-align: center;
}
